<footer class="section-p1">
  <div class="col">
    <img class="logo" src="assets/img/logo.png" alt="">
    <h4>Contact</h4>
    <p><strong>Address: </strong> At Akurdi, Pune, Maharashtra</p>
    <p><strong>Email:</strong> omchaudhari553&#64;gmail.com</p>
    <p><strong>Phone:</strong> +91 8830539869</p>
    <p><strong>Hours:</strong> Monday to Saturday: 9.00am to 6.00pm</p>
    <div class="follow">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a routerLink="/about">About us</a>
    <a routerLink="/delivery">Delivery Information</a>
    <a routerLink="/privacy">Privacy Policy</a>
    <a routerLink="/terms">Terms & Conditions</a>
    <a routerLink="/contact">Contact Us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a routerLink="/sign-in">Sign In</a>
    <a routerLink="/cart">View Cart</a>
    <a routerLink="/wishlist">My Wishlist</a>
    <a routerLink="/track">Track My Order</a>
    <a routerLink="/help">Help</a>
  </div>

  <div class="col">
    <h4>Secured Payment</h4>
    <p>We accept all major payment methods</p>
    <img src="assets/img/pay/pay.png" alt="Payment methods">
  </div>

  <div class="copyright">
    <p>&copy; 2026 E Commerce Platform. All rights reserved.</p>
  </div>
</footer>
