<nav class="navbar">
    <div class="nav-brand">
        <a routerLink="/admin/dashboard"><img src="assets/img/logo.png" class="logo" alt="logo"></a>
    </div>

    <div class="nav-links" [class.active]="isNavActive">
        <ul>
            <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/admin/manage-products" routerLinkActive="active">Manage Products</a></li>
            <li><a routerLink="/admin/manage-orders" routerLinkActive="active">Manage Orders</a></li>
            <li><a routerLink="/admin/users" routerLinkActive="active">Users</a></li>
            <li>
                <a href="javascript:void(0)" (click)="logout($event)" class="auth-link logout-link">Logout</a>
            </li>
        </ul>
        <a href="javascript:void(0)" class="close-nav" (click)="closeNav($event)"><i class="far fa-times"></i></a>
    </div>

    <!-- Mobile Navigation -->
    <div class="mobile-nav">
        <i class="fas fa-bars menu-icon" (click)="toggleNav()"></i>
    </div>
</nav> 