<section id="page-header" class="blog-header">
  <h2>#readmore</h2>
  <p>Read all case studies about our products!</p>
</section>

<section id="blog" class="section-p1">
  <div class="blog-box" *ngFor="let post of blogPosts">
    <div class="blog-img">
      <img [src]="post.image" alt="blog">
    </div>
    <div class="blog-details">
      <h4>{{post.title}}</h4>
      <p>{{post.excerpt}}</p>
      <a routerLink="/blog/{{post.id}}">CONTINUE READING</a>
    </div>
    <h1>{{post.date}}</h1>
  </div>
</section>

<section id="pagination" class="section-p1">
  <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
    <i class="fal fa-long-arrow-alt-left"></i>
  </button>
  <button 
    *ngFor="let page of pages" 
    [class.active]="page === currentPage"
    (click)="changePage(page)">
    {{page}}
  </button>
  <button [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
    <i class="fal fa-long-arrow-alt-right"></i>
  </button>
</section>

<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up For Newsletters</h4>
    <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
  </div>
  <div class="form">
    <input type="text" placeholder="Your email address">
    <button class="normal">Sign Up</button>
  </div>
</section>
